@import '../../styles/colors';
@import '../../styles/fonts';

.header {
  margin-top: 61px;
  display: flex;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;

    h2 {
      margin-left: 17px;
      color: $red;
      font-style: normal;
      font-weight: $light;
      font-size: 30px;
      line-height: 32px;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;

    li {
      font-size: 20px;
      font-weight: $medium;
      color: $black;
      cursor: pointer;
    }
  }
}

/*320px - 576px*/
@media (max-width: 576px) {
  .menu-btn {
    display: block;
  }

  .header {
    margin-top: 32px;

    &__nav {
      display: none;
    }

    &__logo {
      h2 {
        font-size: 12px;
        line-height: 10px;
        width: 32%;
      }
    }
  }
}
