@import '../../styles/colors';
@import '../../styles/fonts';

.buttonUi {
  border-radius: 55px;
  border: none;
  z-index: 5;
  cursor: pointer;
  font-size: 22px;
  line-height: 66px;
  font-weight: $bolt;
  width: 259px;
  height: 70px;
}
