@import '../../styles/colors';
@import '../../styles/fonts';

.diadoc {
  z-index: 5;

  &__title {
    color: $black;
    margin-top: -550px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 32px;
      font-weight: $bold;
      z-index: 5;
    }

    p {
      z-index: 5;
      margin-top: 42px;
      width: 70%;
      font-size: 16px;
      font-weight: $light;
      text-align: center;
      line-height: 30px;
    }
  }

  &__content {
    position: relative;
    background: white;
    border-radius: 25px;

    .text {
      margin-top: 38px;

      &__title {
        padding-top: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        line-height: 32px;
        color: $aqua;

        h2 {
          margin-left: 26px;
        }
      }

      &__body {
        margin-top: 48px;
        font-size: 16px;
        line-height: 25px;
        display: flex;
        justify-content: space-evenly;

        img {
          margin-right: 15px;
        }

        .medal {
          margin-right: 25px;
          width: 370px;
          display: flex;
          align-items: center;
        }

        .time {
          width: 308px;
          display: flex;
          align-items: center;
        }
      }
    }

    &_img {
      padding: 15px;
      margin-top: 40px;
    }

    &_line {
      position: absolute;
      bottom: 103px;
    }
  }

  &__button {
    z-index: 0;
    display: flex;
    margin: 30px 0 0 0;
    justify-content: center;
  }

  .requestBtn {
    z-index: 0;
    background-color: $aqua;
    color: #ffffff;
  }

  &__logo {
    color: $black;
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .box {
      &__img {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .text-logo {
          width: 57%;
          display: flex;
          flex-direction: column;

          h2 {
            font-size: 32px;
            line-height: 66px;
            font-weight: $bold;
          }

          p {
            margin-top: 25px;
            font-size: 20px;
            font-weight: $light;
            line-height: 25px;
          }
        }

        img {
          margin: -24px 0 25px 0;
        }
      }

      &__text {
        z-index: 0;
        display: flex;
        justify-content: space-evenly;

        ul {
          margin-top: -36px;
          padding: 0px 0 0 40px;
          li {
            font-weight: $light;
            font-size: 16px;
            line-height: 25px;
            list-style: disc;
          }
        }
      }
    }
  }
}

/*576px - 768px*/
@media (max-width: 768px) {
  .diadoc {
    &__title {
      text-align: center;
      margin-top: -245px;

      h1 {
        line-height: 55px;
      }
    }

    &__content {
      &_line {
        bottom: 101px;
      }
    }

    &__logo {
      .box {
        &__img {
          img {
            height: 227px;
            width: 220px;
            margin: 0;
          }

          h2 {
            line-height: 50px;
            text-align: center;
          }
        }

        &__text {
          margin-top: 52px;
          align-items: center;
          flex-direction: column-reverse;

          button {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

/*320px - 576px*/
@media (max-width: 576px) {
  .diadoc {
    margin-top: 130px;

    &__title {
      margin-top: 0;
      h1 {
        z-index: 3;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
      }

      p {
        z-index: 3;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__content {
      background-color: transparent;
      border-radius: none;
      -webkit-border-radius: none;
      -moz-border-radius: none;
      -ms-border-radius: none;
      -o-border-radius: none;

      .text {
        position: relative;
        &__title {
          font-size: 30px;
          line-height: 32px;
        }

        &__body {
          flex-direction: column;
          align-items: center;

          .medal,
          .time {
            justify-content: center;
            width: 90%;
          }

          .medal {
            margin: 0 0 56px 0;
          }

          p {
            font-size: 14px;
            line-height: 20px;
            width: 200px;
          }
        }
      }

      &_img {
        width: 640px;
        margin-left: -37px;
      }

      &_line {
        bottom: 101px;
        width: 362px;
      }
    }

    &__logo {
      .box {
        &__img {
          position: relative;

          img {
            width: 130px;
            height: 130px;
            position: absolute;
            top: 117px;
            right: 61%;
          }

          .text-logo {
            align-items: flex-end;
            width: 100%;

            h2 {
              font-size: 22px;
              text-align: center;
            }

            p {
              width: 54%;
              font-size: 16px;
              line-height: 25px;
            }
          }
        }

        &__text {
          margin-top: 0;
          flex-direction: column-reverse;

          ul {
            padding: 0;
            margin: 30px 0 0 16px;
            font-size: 16px;
            line-height: 25px;

            li {
              margin-left: 10px;
            }
          }

          button {
            margin-top: 30px;
          }
        }
      }
    }
  }
}
