@import '../../styles/colors';
@import '../../styles/fonts';

.electrSign {
  &__title {
    color: $black;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;

    h1 {
      font-size: 32px;
      font-weight: $bolt;
    }

    p {
      font-size: 16px;
      font-weight: $light;
    }
  }

  &__map {
    margin-top: 46px;
    display: flex;
    justify-content: center;

    iframe {
      border: 1px $gray solid;
    }
  }

  &__text {
    margin-top: 90px;
    position: relative;

    .description {
      flex-wrap: wrap;
      display: flex;
      font-weight: $light;
      font-size: 16px;

      &__text {
        width: 505px;
        height: 200px;
        line-height: 25px;
        margin-right: 70px;

        li {
          margin-left: 29px;
          list-style: disc;
        }
      }

      &__services {
        font-size: 18px;
        width: 45%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .black,
        .white {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 23px 0 23px;
          height: 46px;
          border-radius: 55px;
          -webkit-border-radius: 55px;
          -moz-border-radius: 55px;
          -ms-border-radius: 55px;
          -o-border-radius: 55px;
        }

        .black {
          background-color: $black;
          color: white;
        }

        .white {
          color: $black;
          background-color: $gray;
        }
      }

      &__img {
        &_drive {
          position: absolute;
          bottom: -249px;
          right: 228px;
        }

        &_line {
          position: absolute;
          z-index: -1;
          bottom: -78px;
          left: -90px;
        }
      }
    }
  }

  &__request {
    margin-top: 100px;
    display: flex;
    align-items: center;

    button {
      background-color: $red;
      color: white;
      margin-right: 59px;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      font-weight: $medium;
      width: 25%;
    }
  }
}

/*320px - 576px*/
@media (max-width: 576px) {
  .electrSign {
    &__title {
      margin-top: 30px;
      text-align: center;

      h1 {
        font-size: 21px;
        line-height: 26px;
      }

      p {
        font-size: 14px;
        margin-top: 18px;
        line-height: 20px;
      }
    }

    &__text {
      margin-top: 50px;

      .description {
        &__text {
          text-align: justify;
          font-size: 13px;
          line-height: 25px;
          margin: 0;
        }

        &__services {
          width: 100%;
          margin: 70px 0 50px 0;

          .black,
          .white {
            padding: 0 12px 0 12px;
            height: 35px;
            font-size: 12px;
            line-height: 25px;
            width: 100%;
            margin: 10px 0 10px 0;
          }
        }

        &__img {
          &_drive {
            bottom: -144px;
            width: 184px;
            height: 234px;
            right: -90px;
          }

          &_line {
            display: none;
          }
        }
      }
    }

    &__request {
      flex-direction: column-reverse;

      button {
        margin: 0;
      }

      p {
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
    }
  }
}
