@import '../../../styles/colors';
@import '../../../styles/fonts';

.menu-btn {
  margin: 0 26px 0 0;
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;

  span {
    border-radius: 10px;
    width: 30px;
    height: 3.75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $black;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
}

.menu-btn span:nth-of-type(2) {
  top: calc(40% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(60% + 5px);
}
