@import './assets/fonts/LabGrotesque-400/style.css';
@import './assets/fonts/LabGrotesque-500/style.css';
@import './assets/fonts/LabGrotesque-700/style.css';

* {
  font-family: 'Lab Grotesque';
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.App {
  overflow-x: hidden;
}

.container {
  max-width: 1108px;
  margin: 0 auto;
}
