@import '../../styles/colors';
@import '../../styles/fonts';

.ecosistem {
  color: $black;
  display: flex;
  margin-top: 145px;
  justify-content: space-between;
  flex-wrap: wrap;

  &__title {
    width: 385px;
    font-style: normal;
    font-weight: $bold;
    font-size: 37px;
    line-height: 66px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    max-width: 375px;
  }

  &__services {
    margin-top: 82px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

    .text {
      p {
        font-weight: $medium;
        font-size: 20px;
        line-height: 48px;
        border-bottom: 1px solid $black;
        display: inline;
        cursor: pointer;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;
    height: 50px;

    &_title {
      margin-bottom: 15px;
      color: $green;

      a {
        width: 200px;
        font-weight: $medium;

        font-size: 16px;
      }

      img {
        margin: 0 19px 0 5px;
      }
    }
  }

  .table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    .icons {
      width: 150px;
      margin-bottom: 16px;

      a {
        color: $black;
        font-weight: $medium;
        font-size: 20px;
        line-height: 32px;
      }

      img {
        margin-right: 17px;
      }
    }

    &__table,
    &__eagle {
      position: absolute;
      z-index: -1;
    }

    &__table {
      top: -130px;
      right: -70px;
    }

    &__eagle {
      top: -105px;
      left: -63px;
    }
  }
}

/*576px - 768px*/
@media (max-width: 768px) {
  .ecosistem {
    margin-top: 105px;

    &__box {
      .table {
        &__table {
          top: -237px;
          width: 520px;
          left: 240px;
        }
      }
    }

    &__services {
      justify-content: space-around;
      margin-top: 25px;
      .text {
        p {
          font-size: 16px;
        }

        &:last-child {
          display: none;
        }
      }
    }
  }
}

/*320px - 576px*/
@media (max-width: 576px) {
  .container {
    width: 90%;
  }

  .ecosistem {
    margin-top: 105px;

    &__title {
      font-size: 21px;
      width: 207px;
      line-height: 33px;
    }

    .icons {
      img {
        margin: 0 18px 0 5px;
      }

      &_title {
        margin-left: 5px;
        margin-top: 15px;
        line-height: 20px;
      }
    }

    .table {
      position: relative;
      justify-content: space-evenly;

      .icons {
        width: 120px;
        margin-right: 15px;

        a {
          font-size: 18px;
        }

        img {
          margin-right: 10px;
        }
      }

      &__table {
        width: 345px;
        top: -183px;
        left: 130px;
      }

      &__eagle {
        top: -73px;
        left: -27px;
      }
    }

    &__services {
      margin-top: 65px;
      flex-direction: column;

      .text {
        display: block !important;
        text-align: center;
        margin-bottom: 37px;

        p {
          font-size: 17px;
          line-height: 26px;
        }
      }
    }

    &__box {
      align-items: flex-start;
    }
  }
}
